.square-container {
    display: flex;
    flex-direction: row-reverse;
  }
  
.square {
    position: relative;
    flex-basis: calc(22% - 10px);
    border: 1px solid black;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
  }
  
.square::before {
    content: '';
    display: block;
  }
  
.square .content {
    position: absolute;
    top: 0; left: 0;
    height: 10px;
    width: 10px;
  }