html {
    padding: 10px;
}

.playerNav {
    display: flex;
    flex-wrap: nowrap;
}

.main {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

.textmain {
    display: grid;
    padding-right: 10px;
}